/* style.css */

body {
    background: url('https://cdn.pixabay.com/photo/2016/07/05/18/06/poker-1491536_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1, .stTitle {
    color: white;
}

.stApp {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    border-radius: 8px;

    img {
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
}

}

button[class^="st-"],
div[class*="stButton"] > button,
.element-container button {
    color: red !important;
}

img {
    border: 2px solid white;
    border-radius: 4px;
}
img {
  background-color: white;
  padding: 4px;
  border-radius: 6px;
}


